header h1 {
    color: whitesmoke;
    text-shadow: 2px 2px px2 blue;
}

header h1 span {
    color: white;
    text-shadow: 2px 2px 2px lightblue;
    border-radius: 5px;
    background:none;
}

/* bootstrap */

.barra-nav a {
    color: green !important;
}

.inicio-1 {
    color: green !important;
    font-weight: bold !important;
    font-size: 2.2rem !important;    
}

.nav-item {
    font-weight: 800;
    font-size: 2rem;
}

button .navbar-toggler {
    background-color: green;
}

/* aplicando hover */

.nav-item:hover {
    background-color: #eee;
    border-radius: 1rem;
}
