

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgba($color: #e72424, $alpha: 0.5) url(../../assets/img/fondos/space-9.jpg) no-repeat fixed center center;
    background-size: cover;
}
